.link {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: white;
    
    &:hover {
        color: rgb(20, 241, 149);
    }
    
    // &:visited {
    //     color: white;
    // }
}

.block {
    display: block;
}